.projects {
  background-color: var(--primary-color);
  width: 100%;
}
.projects .project {
  width: 100%;
  height: 420px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.projects .project img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  transition: 0.25s ease-out;
}
.counter {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  width: 100%;
  height: 17vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: default;
}
.counter span,
h2 {
  font-size: 1.6rem;
}
.counter-section {
  background-color: var(--primary-color);
}
.counter p {
  color: white;
  text-transform: uppercase;
  padding: 0.3rem 3rem;
}
.projects .project:hover img {
  transform: scale(1.1);
}
.projects .project:hover .content {
  backdrop-filter: blur(0px);
}
.projects .project .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  backdrop-filter: blur(1.5px);
  transition: 0.25s ease-out;
}
.project-btn {
  position: relative;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--btn-color);
  background-color: transparent;
  color: var(--btn-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.25s all ease;
  margin-top: auto;
  text-align: center;
}
.project-btn:hover {
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  color: white !important;
}
@media only screen and (max-width: 992px) {
  .counter {
    display: flex;
    height: 15vh;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: default;
  }
}
