h1.heading {
  font-size: 60px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.skills-box {
  border-radius: 10px;
  width: 100%;
  background: var(--box-color);
  padding: 55px;
  transition: 0.4 ease;
}
.skills-box:hover {
  transform: translateY(5px);
  /* background-image: linear-gradient(90deg, #f61b10, #ef0963); */
  transition: 0.4s ease;
}
.skills-box:hover .skills-img {
  color: #fff;
}
.skills-img img {
  display: inline-flex;
  margin-bottom: 23px;
  width: 100%;
  height: 190px;
  object-fit: contain;
}
.skills-img h1 {
  text-align: center;
}
.skills-meta h1 {
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .skills-box {
    padding: 32px;
  }
}
