.about {
  background: var(--primary-color);
}
img.aboutImg {
  border-radius: 10px;
  width: 100%;
}
h1.about-heading {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: start;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
}
button.about.btn.pointer {
  text-transform: capitalize;
  width: 195px;
  height: 55px;
  font-size: 18px;
  transition: 0.4 ease;
}
.about-button {
  padding: 20px 0;
}
a.bottom-to-top {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: var(--btn-second-color);
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: 0.4s all ease-in;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 1000;
}
a.bottom-to-top.active {
  display: flex;
}
a.bottom-to-top:hover {
  background-color: var(--btn-color);
}
@media only screen and (max-width: 1024px) {
  .p-color {
    font-size: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .about-me-text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
