.header {
  transition: 0.4s all ease;
  padding: 0 10px;
}
.navbar a:hover {
  color: #000000;
  transition: 0.5s all ease-in;
}
.header.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: var(--secondary-color);
}

img.homeImg {
  border-radius: 10px;
  width: 120%;
}
.home .logo img {
  width: 100px;
  height: 100px;
  padding: 20px;
}
li.nav-items {
  font-size: 18px;
  padding-bottom: 15px;
}
.home-content {
  padding: 125px 0;
}
h1.home-text {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  color: rgba(209, 209, 209, 0.75) !important;
}
h2.home-text {
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}
h3.home-text {
  font-size: 45px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  line-height: 40px;
}
/* ////responsive test1//// */
@media only screen and (min-width: 1024px) {
  .toggle-menu {
    display: none;
  }
  .toggle-menu svg {
    display: none;
  }
  ul.sidebar {
    display: none;
  }
  li.sideNavbar {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .home-content {
    text-align: center;
  }
  .toggle-menu {
    display: flex;
    justify-content: flex-end;
    float: right;
    z-index: 1000;
    width: 100%;
  }
  .toggle-menu svg {
    width: 50px;
    height: 50px;
  }
  ul.sidebar {
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    right: 0;
    background: #010101;
    justify-content: center;
    width: 30%;
    top: 0;
    flex-direction: column;
  }
  li.sideNavbar {
    padding: 25px 30px;
    font-size: 1.3rem;
    cursor: pointer;
  }
  li.sideNavbar:hover {
    background: linear-gradient(to right, #237a57, #093028);
    border-radius: 5px;
  }
  li.sideNavbar a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header {
    justify-content: space-between;
  }
  .navigation.pxy-30 {
    display: none;
  }
  .home-text {
    font-size: 50px;
  }
}
