.footer {
  margin: -70px 0;
}
.footer-img {
  width: 90px;
}
.footer .thank {
  color: #c6c9d8;
  font-size: 14px;
  opacity: 0.75;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: default;
}
