.contact {
  background: var(--primary-color);
}
.contact-meta {
  text-align: center;
}
.hire-header {
  font-size: 60px;
}
.hire-text {
  font-size: 30px;
  line-height: 50px;
  color: var(--sweet-color);
  font-weight: 400;
}
.wrapper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.wrapper-btn button {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
  margin: 0 10px;
}
.wrapper-btn button:hover {
  font-size: 1.9rem;
}
.wrapper-btn button:before {
  position: relative;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  transform: scale(1.5);
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bg1,
.bg1::before {
  background-color: #673ab7;
}
.bg2,
.bg2::before {
  background-color: #2196f3;
}
.bg3,
.bg3::before {
  background-color: #003764;
}
.bg4,
.bg4::before {
  background-color: #0c8002;
}
.bg5,
.bg5::before {
  background-color: #ff0000;
}
.bg6,
.bg6::before {
  background-color: #000;
}
/* .contact-icons {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact-icons i {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
  padding: 6px 0;
}
.email {
  color: #c70000;
}
.inista {
  color: #d3125c;
}
.linkedin {
  color: #0961b8;
}
.telegram {
  color: #2e9fd1;
}
.whatsapp {
  color: #00eb00;
}
.contact-icons h1 {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  text-align: center;
}
.location {
  color: rgb(7, 44, 78);
} */
