* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
:root {
  --primary-color: #3f6453;
  --secondary-color: #1f4037;
  --box-color: #1e1f1f;
  --btn-color: #000000;
  --btn-second-color: rgb(14, 11, 11);
  --text-color: rgb(46, 46, 46);
  --text-gray: #999;
  --black-color: rgb(255, 255, 255);
  --sweet-color: rgb(0, 0, 0);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: " Quicksand", sans-serif;
}
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--black-color);
}
::-webkit-scrollbar-thumb {
  background: #448d7a;
}
/* 9B1D20 red
17BEBB blue
FFC914 yellow
011936 dark blue
76B041 green peste */
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-size: 18px;
  color: #fff;
  font-family: Poppins, sans-serif;
}
li {
  overflow: hidden;
}
span {
  display: block;
}
p {
  font-size: 16px;
  font-family: Poppins, sans-serif;
}
.white {
  color: #fff !important;
}
.black {
  color: #000 !important;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.mx-15 {
  margin: 0px 15px;
}
.mt {
  margin: 85px 0;
}
.mt-5 {
  margin-top: 30px;
}
.px-30 {
  padding: 0px 30px;
}
.pxy-10 {
  padding: 5px 10px;
}
.container {
  width: 92%;
  margin: 0px auto;
}
.pz-10 {
  padding: 10px 0px;
}
.sweet {
  color: var(--sweet-color);
}
.row {
  display: flex;
  width: 100%;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
.col-2 {
  max-width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.col-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  flex-direction: column;
}
.component-space {
  padding: 150px 0px;
}
.pointer {
  cursor: pointer;
}
svg {
  stroke-width: 1 !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
strong {
  color: var(--sweet-color);
  font-weight: 600;
}
input {
  color: rgba(198, 201, 216, 0.75);
}
button.btn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s all ease;
  height: 50px;
  width: 180px;
  margin: 0px 10px;
}

.btn:hover {
  color: #fff !important;
}
.p-color {
  color: var(--black-color);
  font-size: 18px;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  margin-bottom: 15px;
}
.m-grad:hover {
  background: linear-gradient(to top, #4b4b45, #0d0f0f);
}
.m-color {
  color: #0e3d30;
}
button.about.btn.pointer:hover {
  background: transparent;
  color: var(--btn-color) !important;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .col-2 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  span.copyright {
    font-size: 13px !important;
  }
  .footer {
    flex-wrap: wrap;
  }
}
